{% extends 'layout.html' %}

{% block title %}create interest{% endblock %}

{% block content %}
	<div class='position'>
		<h2>create a new interest!</h2>
		{% for message in get_flashed_messages() %}
			<p style='color:red;'>{{ message }}</p>
		{% endfor %}
		<div class='login'>
			<form action='{{ url_for("createinterest") }}' method='post'>
			
				<label for='interest'>new interest:</label><br>
				<input class='inputs' type='text' id='interest' name='interest' required><br><br>
				
				<label for='description'>description:</label><br>
				<input class='inputs' type='text' id='description' name='description'><br><br>
					
				<input class='submitbutton' type='submit' value='Submit'>
			</form>
		</div>
	</div>
{% endblock %}