{% extends 'layout.html' %}

{% block title %}{{ session.interest }}{% endblock %}

{% block content %} 
	<h2 class='heading'>{{ session.interest }}!</h2>
	<div class='navbar'>
		<ul>
			<li><h3 class='home'><u>upcoming events for {{ session.interest }}...</u></h3></li>
			<li>
				<form action='{{ url_for("interest") }}' method='post'>
					<input class='submitbutton' type='submit' value='join interest'>
				</form>
			</li>
			<li><a class='button' href='{{ url_for("createevent") }}'>create a new event :P</a></li>
		</ul>
	</div>
	{% for message in get_flashed_messages() %}
		<p>{{ message }}</p>
	{% endfor %}
	{% if info %}
		{% for event in info %}
			<div class='event'>
				<a href='/event/?id={{ event[2] }}'><b>{{ event[2] }}</b></a>
				{% if event[3] %}
					☆ {{ event[3] }}
				{% else %}
					☆ (no description)
				{% endif %}
			</div>
		{% endfor %}
	{% else %}
		<p class='position'> no event for now... ): </p>
	{% endif %}
{% endblock %}
	